<!--content-->
<div class="content">
    <!--single-->
    <div class="single-wl3">
        <div class="container">
            <div class="single-grids">
                @foreach (var sanpham in ViewBag.SanPham)
                {
                <div class="col-md-9 single-grid">
                    <div clas="single-top">
                        <div class="single-left">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li data-thumb="images/si.jpg">
                                        <div class="thumb-image"> <img src="~/images/@sanpham.Image" data-imagezoom="true" class="img-responsive"> </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-right simpleCart_shelfItem">
                            <h4>@sanpham.TenSP</h4>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <p class="price item_price">@sanpham.GiaMoi VND</p>
                            <div class="description">
                                <p><span></span> @sanpham.MoTaNgan</p>
                            </div>
                            <div class="color-quality">
                                <h6>Quality :</h6>
                                <div class="quantity">
                                    <div class="quantity-select">
                                        <div class="entry value-minus1">&nbsp;</div>
                                        <div class="entry value1"><span>1</span></div>
                                        <div class="entry value-plus1 active">&nbsp;</div>
                                    </div>
                                </div>
                                <!--quantity-->
                                <script>
                                        $('.value-plus1').on('click', function () {
                                            var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) + 1;
                                            divUpd.text(newVal);
                                        });

                                        $('.value-minus1').on('click', function () {
                                            var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) - 1;
                                            if (newVal >= 1) divUpd.text(newVal);
                                        });
                                </script>
                                <!--quantity-->
                            </div>
                            <div class="women">
                                <span class="size">@sanpham.Size </span>
                                <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                            </div>
                            <div class="social-icon">
                                <a href="#"><i class="icon"></i></a>
                                <a href="#"><i class="icon1"></i></a>
                                <a href="#"><i class="icon2"></i></a>
                                <a href="#"><i class="icon3"></i></a>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                }

                <div class="col-md-3 single-grid1">
                    <h3>Recent Products</h3>
                    @await Component.InvokeAsync("Single", new { id = ViewBag.id })

                </div>

                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
    <!--single-->
    <div class="container">
        <h3 class="tittle1">Best Sellers</h3>
        <div class="arrivals-grids">
            @foreach (var item in ViewBag.BestSellers)
            {
            <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                <div class="grid-arr">
                    <div class="grid-arrival">
                        <figure>
                            <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                <div class="grid-img">
                                    <img src="~/images/@item.Image" class="img-responsive" alt="">
                                </div>
                                <div class="grid-img">
                                    <img src="~/images/@item.Image" class="img-responsive" alt="">
                                </div>
                            </a>
                        </figure>
                    </div>
                    <div class="ribben">
                        <p>NEW</p>
                    </div>
                    <div class="ribben1">
                        <p>SALE</p>
                    </div>
                    <div class="block">
                        <div class="starbox small ghosting"> </div>
                    </div>
                    <div class="women">
                        <h6><a href="~/pages/single/@item.ID">@item.TenSP</a></h6>
                        <span class="size">@item.Size</span>
                        <p><del>@item.Gia VND</del><em class="item_price">@item.GiaMoi VND</em></p>
                        <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                    </div>

                </div>
            </div>

            }
            <div class="clearfix"></div>
        </div>

    </div>
    <!--new-arrivals-->
</div>
<!--content-->